<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>일상토크 작성하기</title>
</head>
<body>
  <div class="navigation">
    <div class="logo"><a href="/" th:href="@{/}">로고</a></div>
    <div class="menu">
      <div class="talk"><a href="/" th:href="@{/}">일상토크</a></div>
      <div class="shopping"><a href="/" th:href="@{/}">쇼핑</a></div>
      <div class="travel"><a href="/" th:href="@{/}">여행</a></div>
      <div class="chatting"><a href="/" th:href="@{/}">관리자채팅</a></div>
    </div>
    <div class="loginBtn"><a href="/" th:href="@{/}">로그인</a></div>
  </div>
  <div class="postForm">
    <form action="/posts" method="post">
      <input name="title" type="text">
      <input name="category" type="text">
      <textarea name="content"></textarea>
      <button type="submit">등록</button>
    </form>
  </div>
</body>
</html>