<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
  <meta charset="UTF-8">
  <title>일상토크</title>
</head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="py-5 text-center">
  <h2 id="main-title"></h2>
</div>
<div class="row justify-content-center">
  <form id="form" class="needs-validation col-sm-6" action="#"
        th:action="@{'/posts/' + *{id}}" th:object="${post}" method="post" novalidate>
<!--    <input id="_method" type="hidden" name="_method" value="put"/>-->
<!--    <input type="hidden" th:field="*{username}"/>-->
<!--    <div class="form-group">-->
<!--      <p id="username">작성자: <span th:text="*{username}"></span></p>-->
<!--    </div>-->

    <div class="form-group">
      <p id="createdAt">작성일: <span th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>
    </div>
    <div class="form-group">
      <p id="modifiedAt">수정일: <span th:text="*{#temporals.format(modifiedAt, 'yyyy-MM-dd HH:mm')}"></span></p>
    </div>

    <div id="title-group" class="form-group">
      <label for="title">제목</label>
      <input id="title" type="text" th:field="*{title}" class="form-control"
             placeholder="제목을 입력해주세요!" aria-describedby="titleHelp" required minlength="3" maxlength="20" th:readonly="${param.isEmpty()}">
    </div>

    <div id="category-group" class="form-group">
      <label for="category">카테고리</label>
      <input th:if="${param.isEmpty()}" id="category" type="text" th:field="*{category}" class="form-control" aria-describedby="categoryHelp" readonly>
      <select th:if="${!param.isEmpty()}" th:field="*{category}" class="form-control" aria-describedby="categoryHelp">
          <option value="">선택</option>
          <option value="잡담">잡담</option>
          <option value="질문">질문</option>
          <option value="정보공유">정보공유</option>
      </select>
    </div>

    <div id="content-group" class="form-group">
      <label for="content">꿈 내용</label>
      <textarea id="content" th:field="*{content}" class="form-control"
                aria-describedby="contentHelp" required minlength="30" maxlength="200" rows="5" th:readonly="${param.isEmpty()}"></textarea>
    </div>

    <div class="form-group">
      <a th:href="@{/}" class="btn btn-secondary float-left" >목록으로</a>
      <a th:if="${param.isEmpty()}" th:href="@{'/posts/' + ${post.id}(edit)}" class="btn btn-primary float-right ml-1">수정하기</a>
      <form th:if="${!param.isEmpty()}" th:action="@{'/posts/' + ${post.id}}" th:method="put">
          <button class="btn btn-primary float-right ml-1" type="submit">수정완료</button>
      </form>
      <form th:if="${param.isEmpty()}" th:action="@{'/posts/' + ${post.id}}" th:method="delete">
          <button id="btn-delete" class="btn btn-danger float-right ml-1" type="submit">삭제하기</button>
      </form>
      <a th:if="${!param.isEmpty()}" th:href="@{'/posts/' + ${post.id}}" class="btn btn-danger float-right ml-1"> 취소하기</a>
    </div>
  </form>

</div>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>