<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
  <div>
    <div><a href="/" th:href="@{/}">로고</a></div>
    <div>
      <div><a href="/" th:href="@{/}">일상토크</a></div>
      <div><a href="/" th:href="@{/}">쇼핑</a></div>
      <div><a href="/" th:href="@{/}">여행</a></div>
      <div><a href="/" th:href="@{/}">관리자채팅</a></div>
    </div>
    <div><a href="/" th:href="@{/}">로그인</a></div>
  </div>
</body>
</html>