<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>메인페이지</title>
</head>
<body>
  <div th:replace="fragments.html :: main-nav"></div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">분류</th>
      <th scope="col">제목</th>
      <th scope="col">날짜</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
      <td th:text="${post.id}">번호</td>
      <td th:text="${post.category}">분류</td>
      <td th:text="${post.title}">제목</td>
      <td th:text="${post.createdAt}">날짜</td>
      <td th:text="${post.views}">조회수</td>
    </tr>
    </tbody>
  </table>
  <div th:replace="fragments.html :: footer"></div>
</body>
</html>